@use '../../../../styles/abstracts/variables' as *;

.tracking-header {
  display: grid;
  gap: $space-2;

  h1,
  p {
    margin: 0;
  }

  h1 {
    color: var(--color-text-primary);
    font-size: $font-size-2xl;
  }

  p,
  span,
  small {
    color: var(--color-text-secondary);
  }
}
